<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <title>Sanji</title>

    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .border img {
            border-radius: 15px;
            border: 2px solid black;
        }
        body{
            background-repeat: no-repeat;
            background-size: auto;
            background-attachment: fixed;
        }
		
    </style>
</head>

<body background="{{url_for('static',filename = 'images/sanji_back3.jpg')}}">



    <div>
        <h1 style="text-align:center;font-size:4rem">One Piece Characters and their power</h1>
    </div>

   <br>
   <br>


    <div class="container my-2">
        <div class="row mb-5">

            <div class="col-sm" style="margin-bottom: 23px;">
                <span class="border border-primary">
                    <img src="{{url_for('static',filename = 'images/sanji (2).jpg' )}}" alt="User Image" style="width:500px;height:700px;">
                    

                </span>
            </div>

            <div class="col-sm">

                <div>
                    <h1 style="padding: 15px; background-color: rgb(15, 15, 15); color: white;"
                        class="text-center mb-5 content-h1 rounded">
                        {{pred_output}} </h1>
                </div>
                <div class="details">
                    
                    <h2 style=font-family:'Courier New'><b>Full Name:- Vinsmoke Sanj</b></h2>
                    <h3 style=font-family:'Courier New'><b style=color:'Tomato;'>Father:- Vinsmoke Judge</b></h3>
                    <h3 style=font-family:'Courier New'><b>Bounty:- 330 Million</b></h3>
                    <h3 style=font-family:'Courier New'><b>Nick Name:- Black Leg</b></h3>
                    <h3 style=font-family:'Courier New'><b>Devil Fruit:- None</b></h3>
                    <h3 style=font-family:'Courier New'><b>Power:- Armament Haki, Observation Haki</b></h3>
                    <h3 style=font-family:'Courier New'><b>Position:- Strawhat's Cook</b></h3>
					
					<p><b>A native to the North Blue, Sanji grew up as part of the Vinsmoke family under his father Vinsmoke Judge, king of the Germa Kingdom, and mother Vinsmoke Sora. Living under a grueling father who only saw Sanji as a soldier, he escapes to Baratie where he learns to cook under “Red Leg” Zeff and learns his fighting style, which is characterized by the use of legs in combat. Sanji is the fifth member and the fourth to join Monkey D. Luffy’s pirate crew as cook after the battle against Don Krieg.</b></p>
               
                </div>
            </div>
        </div>


    </div>
</body>

</html>